<!--
SPDX-FileCopyrightText: syuilo and noridev and other misskey, cherrypick contributors
SPDX-License-Identifier: AGPL-3.0-only
-->

<template>
<MkStickyContainer>
	<template #header><MkPageHeader/></template>
	<div
		ref="rootEl"
		:class="$style.root"
		@dragover.prevent.stop="onDragover"
		@drop.prevent.stop="onDrop"
	>
		<MkSpacer :contentMax="800">
			<div :class="$style.body">
				<MkPagination v-if="pagination" ref="pagingComponent" :key="userAcct || groupId" :pagination="pagination">
					<template #empty>
						<div class="_fullinfo">
							<img src="https://xn--931a.moe/assets/info.jpg" class="_ghost"/>
							<div>{{ i18n.ts.noMessagesYet }}</div>
						</div>
					</template>
					<template #default="{ items: messages, fetching: pFetching }">
						<MkDateSeparatedList
							v-if="messages.length > 0"
							v-slot="{ item: message }"
							:class="{ [$style.messages]: true, 'deny-move-transition': pFetching }"
							:items="messages"
							direction="up"
							reversed
						>
							<XMessage :key="message.id" :message="message" :isGroup="group != null"/>
						</MkDateSeparatedList>
					</template>
				</MkPagination>
			</div>
		</MkSpacer>
	</div>
	<template #footer>
		<div :class="$style.footerSpacer">
			<div :class="$style.footer">
				<div v-if="typers.length > 0" :class="$style.typers">
					<I18n :src="i18n.ts.typingUsers" textTag="span">
						<template #users>
							<b v-for="typer in typers" :key="typer.id" :class="$style.user">{{ typer.username }}</b>
						</template>
					</I18n>
					<MkEllipsis/>
				</div>
				<Transition :name="animation ? 'fade' : ''">
					<div v-show="showIndicator" :class="$style.newMessage">
						<button class="_buttonPrimary" :class="$style.newMessageButton" @click="onIndicatorClick">
							<i class="ti ti-circle-arrow-down-filled" :class="$style.newMessageIcon"></i>{{ i18n.ts.newMessageExists }}
						</button>
					</div>
				</Transition>
				<XForm v-if="!fetching" ref="formEl" :user="user" :group="group" :class="$style.form"/>
			</div>
		</div>
	</template>
</MkStickyContainer>
</template>

<script lang="ts" setup>
import { computed, onMounted, nextTick, onBeforeUnmount, watch, shallowRef } from 'vue';
import * as Misskey from 'cherrypick-js';
import XMessage from './messaging-room.message.vue';
import XForm from './messaging-room.form.vue';
import MkDateSeparatedList from '@/components/MkDateSeparatedList.vue';
import MkPagination, { Paging } from '@/components/MkPagination.vue';
import { isBottomVisible, onScrollBottom, scrollToBottom } from '@/scripts/scroll.js';
import * as os from '@/os.js';
import { useStream } from '@/stream.js';
import * as sound from '@/scripts/sound.js';
import { i18n } from '@/i18n.js';
import { $i } from '@/account.js';
import { defaultStore } from '@/store.js';
import { definePageMetadata } from '@/scripts/page-metadata.js';

const props = defineProps<{
	userAcct?: string;
	groupId?: string;
}>();

let rootEl = $shallowRef<HTMLDivElement>();
let formEl = $shallowRef<InstanceType<typeof XForm>>();
const pagingComponent = shallowRef<InstanceType<typeof MkPagination>>();

let fetching = $ref(true);
let user: Misskey.entities.UserDetailed | null = $ref(null);
let group: Misskey.entities.UserGroup | null = $ref(null);
let typers: Misskey.entities.User[] = $ref([]);
let connection: Misskey.ChannelConnection<Misskey.Channels['messaging']> | null = $ref(null);
let showIndicator = $ref(false);
const {
	animation,
} = defaultStore.reactiveState;

let pagination: Paging | null = $ref(null);

watch([() => props.userAcct, () => props.groupId], () => {
	if (connection) connection.dispose();
	fetch();
});

async function fetch() {
	fetching = true;

	if (props.userAcct) {
		const acct = Misskey.acct.parse(props.userAcct);
		user = await os.api('users/show', { username: acct.username, host: acct.host || undefined });
		group = null;

		pagination = {
			endpoint: 'messaging/messages',
			limit: 20,
			params: {
				userId: user.id,
			},
			reversed: true,
			pageEl: $$(rootEl).value,
		};
		connection = useStream().useChannel('messaging', {
			otherparty: user.id,
		});
	} else {
		user = null;
		group = await os.api('users/groups/show', { groupId: props.groupId });

		pagination = {
			endpoint: 'messaging/messages',
			limit: 20,
			params: {
				groupId: group?.id,
			},
			reversed: true,
			pageEl: $$(rootEl).value,
		};
		connection = useStream().useChannel('messaging', {
			group: group?.id,
		});
	}

	connection.on('message', onMessage);
	connection.on('read', onRead);
	connection.on('deleted', onDeleted);
	connection.on('typers', _typers => {
		typers = _typers.filter(u => u.id !== $i?.id);
	});

	document.addEventListener('visibilitychange', onVisibilitychange);

	nextTick(() => {
		pagingComponent.value.inited.then(() => {
			thisScrollToBottom();
		});
		window.setTimeout(() => {
			fetching = false;
		}, 300);
	});
}

function onDragover(ev: DragEvent) {
	if (!ev.dataTransfer) return;

	const isFile = ev.dataTransfer.items[0].kind === 'file';
	const isDriveFile = ev.dataTransfer.types[0] === _DATA_TRANSFER_DRIVE_FILE_;

	if (isFile || isDriveFile) {
		switch (ev.dataTransfer.effectAllowed) {
			case 'all':
			case 'uninitialized':
			case 'copy':
			case 'copyLink':
			case 'copyMove':
				ev.dataTransfer.dropEffect = 'copy';
				break;
			case 'linkMove':
			case 'move':
				ev.dataTransfer.dropEffect = 'move';
				break;
			default:
				ev.dataTransfer.dropEffect = 'none';
				break;
		}
	} else {
		ev.dataTransfer.dropEffect = 'none';
	}
}

function onDrop(ev: DragEvent): void {
	if (!ev.dataTransfer) return;

	// ファイルだったら
	if (ev.dataTransfer.files.length === 1) {
		formEl.upload(ev.dataTransfer.files[0]);
		return;
	} else if (ev.dataTransfer.files.length > 1) {
		os.alert({
			type: 'error',
			text: i18n.ts.onlyOneFileCanBeAttached,
		});
		return;
	}

	//#region ドライブのファイル
	const driveFile = ev.dataTransfer.getData(_DATA_TRANSFER_DRIVE_FILE_);
	if (driveFile != null && driveFile !== '') {
		formEl.file = JSON.parse(driveFile);
	}
	//#endregion
}

function onMessage(message) {
	sound.play('chat');

	const _isBottom = isBottomVisible(rootEl, 64);

	pagingComponent.value.prepend(message);
	if (message.userId !== $i?.id && !document.hidden) {
		connection?.send('read', {
			id: message.id,
		});
	}

	if (_isBottom) {
		// Scroll to bottom
		nextTick(() => {
			thisScrollToBottom();
		});
	} else if (message.userId !== $i?.id) {
		// Notify
		notifyNewMessage();
	}
}

function onRead(x) {
	if (user) {
		if (!Array.isArray(x)) x = [x];
		for (const id of x) {
			if (pagingComponent.value.items.some(y => y.id === id)) {
				const exist = pagingComponent.value.items.map(y => y.id).indexOf(id);
				pagingComponent.value.items[exist] = {
					...pagingComponent.value.items[exist],
					isRead: true,
				};
			}
		}
	} else if (group) {
		for (const id of x.ids) {
			if (pagingComponent.value.items.some(y => y.id === id)) {
				const exist = pagingComponent.value.items.map(y => y.id).indexOf(id);
				pagingComponent.value.items[exist] = {
					...pagingComponent.value.items[exist],
					reads: [...pagingComponent.value.items[exist].reads, x.userId],
				};
			}
		}
	}
}

function onDeleted(id) {
	pagingComponent.value.items.delete(id);
}

function thisScrollToBottom() {
	if (window.location.href.includes('my/messaging/')) {
		scrollToBottom($$(rootEl).value, { behavior: 'smooth' });
	}
}

function onIndicatorClick() {
	showIndicator = false;
	thisScrollToBottom();
}

let scrollRemove: (() => void) | null = $ref(null);

function notifyNewMessage() {
	showIndicator = true;

	scrollRemove = onScrollBottom(rootEl, () => {
		showIndicator = false;
		scrollRemove = null;
	});
}

function onVisibilitychange() {
	if (document.hidden) return;
	for (const message of pagingComponent.value.items) {
		if (message.userId !== $i?.id && !message.isRead) {
			connection?.send('read', {
				id: message.id,
			});
		}
	}
}

onMounted(() => {
	fetch();
});

onBeforeUnmount(() => {
	connection?.dispose();
	document.removeEventListener('visibilitychange', onVisibilitychange);
	if (scrollRemove) scrollRemove();
});

definePageMetadata(computed(() => !fetching ? user ? {
	title: '',
	icon: null,
	userName: user,
	avatar: user,
} : {
	title: group?.name,
	icon: 'ti ti-users',
} : null));
</script>

<style lang="scss" module>
.fade-enter-active, .fade-leave-active {
	transition: opacity 0.1s;
}

.fade-enter-from, .fade-leave-to {
	transition: opacity 0.5s;
	opacity: 0;
}

.root {
	display: contents;
}

.body {
	min-height: 80dvh;
}

.more {
	display: block;
	margin: 16px auto;
	padding: 0 12px;
	line-height: 24px;
	color: #fff;
	background: rgba(#000, 0.3);
	border-radius: 12px;

	&:hover {
		background: rgba(#000, 0.4);
	}

	&:active {
		background: rgba(#000, 0.5);
	}

	> i {
		margin-right: 4px;
	}
}

.fetching {
	cursor: wait;
}

.messages {
	padding: 16px 0 0;

	> * {
		margin-bottom: 16px;
	}
}

.footerSpacer {
  padding: 20px;
}

.footer {
	width: 100%;
	position: sticky;
	z-index: 2;
	padding-top: 8px;
}

.newMessage {
	width: 100%;
	padding-bottom: 8px;
	text-align: center;
}

.newMessageButton {
	display: inline-block;
	margin: 0;
	padding: 0 12px;
	line-height: 32px;
	font-size: 12px;
	border-radius: 16px;
}

.newMessageIcon {
	display: inline-block;
	margin-right: 8px;
}

.typers {
	position: absolute;
	bottom: 100%;
	padding: 0 8px 0 8px;
	font-size: 0.9em;
	color: var(--fgTransparentWeak);
}

.user + .user:before {
	content: ", ";
	font-weight: normal;
}

.user:last-of-type:after {
	content: " ";
}

.form {
	max-height: 12em;
	overflow-y: scroll;
	// border-top: solid 0.5px var(--divider);
	// border-bottom-left-radius: 0;
	// border-bottom-right-radius: 0;
  border-radius: 15px;
}

@container (max-width: 500px) {
  .footerSpacer {
    padding: initial;
  }

	.footer {
		margin-top: calc(50px + env(safe-area-inset-bottom));
	}

  .form {
    border-radius: 0;
  }
}
</style>
