<!--
SPDX-FileCopyrightText: syuilo and other misskey, cherrypick contributors
SPDX-License-Identifier: AGPL-3.0-only
-->

<template>
<div>
	<MkStickyContainer>
		<template #header><XHeader :tabs="headerTabs"/></template>
		<MkSpacer :contentMax="700" :marginMin="16" :marginMax="32">
			<FormSuspense :p="init">
				<div class="_gaps_m">
					<MkInput v-model="name">
						<template #label>{{ i18n.ts.instanceName }}</template>
					</MkInput>

					<MkInput v-model="shortName">
						<template #label>{{ i18n.ts._serverSettings.shortName }} ({{ i18n.ts.optional }})</template>
						<template #caption>{{ i18n.ts._serverSettings.shortNameDescription }}</template>
					</MkInput>

					<MkTextarea v-model="description">
						<template #label>{{ i18n.ts.instanceDescription }}</template>
					</MkTextarea>

					<FormSplit :minWidth="300">
						<MkInput v-model="maintainerName">
							<template #label>{{ i18n.ts.maintainerName }}</template>
						</MkInput>

						<MkInput v-model="maintainerEmail" type="email">
							<template #prefix><i class="ti ti-mail"></i></template>
							<template #label>{{ i18n.ts.maintainerEmail }}</template>
						</MkInput>
					</FormSplit>

					<MkTextarea v-model="pinnedUsers">
						<template #label>{{ i18n.ts.pinnedUsers }}</template>
						<template #caption>{{ i18n.ts.pinnedUsersDescription }}</template>
					</MkTextarea>

					<FormSection>
						<template #label>{{ i18n.ts.files }}</template>

						<div class="_gaps_m">
							<MkSwitch v-model="cacheRemoteFiles">
								<template #label>{{ i18n.ts.cacheRemoteFiles }}</template>
								<template #caption>{{ i18n.ts.cacheRemoteFilesDescription }}{{ i18n.ts.youCanCleanRemoteFilesCache }}</template>
							</MkSwitch>

							<template v-if="cacheRemoteFiles">
								<MkSwitch v-model="cacheRemoteSensitiveFiles">
									<template #label>{{ i18n.ts.cacheRemoteSensitiveFiles }}</template>
									<template #caption>{{ i18n.ts.cacheRemoteSensitiveFilesDescription }}</template>
								</MkSwitch>
							</template>
						</div>
					</FormSection>

					<FormSection>
						<template #label>ServiceWorker</template>

						<div class="_gaps_m">
							<MkSwitch v-model="enableServiceWorker">
								<template #label>{{ i18n.ts.enableServiceworker }}</template>
								<template #caption>{{ i18n.ts.serviceworkerInfo }}</template>
							</MkSwitch>

							<template v-if="enableServiceWorker">
								<MkInput v-model="swPublicKey">
									<template #prefix><i class="ti ti-key"></i></template>
									<template #label>Public key</template>
								</MkInput>

								<MkInput v-model="swPrivateKey">
									<template #prefix><i class="ti ti-key"></i></template>
									<template #label>Private key</template>
								</MkInput>
							</template>
						</div>
					</FormSection>

					<FormSection>
						<!--
						<template #label>DeepL Translation</template>

						<div class="_gaps_m">
							<MkInput v-model="deeplAuthKey">
								<template #prefix><i class="ti ti-key"></i></template>
								<template #label>DeepL Auth Key</template>
							</MkInput>
							<MkSwitch v-model="deeplIsPro">
								<template #label>Pro account</template>
							</MkSwitch>
						</div>
						-->

						<template #label>Translation</template>
						<MkRadios v-model="provider">
							<template #label>Translator type</template>
							<option :value="null">{{ i18n.ts.none }}</option>
							<option value="deepl">DeepL</option>
							<option value="google_no_api">Google Translate(without API)</option>
							<option value="ctav3">Cloud Translation - Advanced(v3)</option>
						</MkRadios>

						<template v-if="provider === 'deepl'">
							<div class="_gaps_m">
								<MkInput v-model="deeplAuthKey">
									<template #prefix><i class="ti ti-key"></i></template>
									<template #label>DeepL Auth Key</template>
								</MkInput>
								<MkSwitch v-model="deeplIsPro">
									<template #label>Pro account</template>
								</MkSwitch>
							</div>
						</template>
						<template v-else-if="provider === 'ctav3'">
							<MkInput v-model="ctav3SaKey" type="password">
								<template #prefix><i class="ti ti-key"></i></template>
								<template #label>Service account key(json)</template>
							</MkInput>
							<MkInput v-model="ctav3ProjectId">
								<template #label>Project ID</template>
							</MkInput>
							<MkInput v-model="ctav3Location">
								<template #label>Location</template>
							</MkInput>
							<MkInput v-model="ctav3Model">
								<template #label>Model ID</template>
							</MkInput>
							<MkInput v-model="ctav3Glossary">
								<template #label>Glossary ID</template>
							</MkInput>
						</template>
					</FormSection>

					<FormSection>
						<template #label>{{ i18n.ts.abuseReports }}</template>

						<div class="_gaps_m">
							<MkInput v-model="emailToReceiveAbuseReport" type="email">
								<template #prefix><i class="ti ti-mail"></i></template>
								<template #label>{{ i18n.ts.emailToReceiveAbuseReport }}</template>
								<template #caption>{{ i18n.ts.emailToReceiveAbuseReportCaption }}</template>
							</MkInput>
						</div>
					</FormSection>
				</div>
			</FormSuspense>
		</MkSpacer>
		<template #footer>
			<div :class="$style.footer">
				<MkSpacer :contentMax="700" :marginMin="16" :marginMax="16">
					<MkButton primary rounded @click="save"><i class="ti ti-check"></i> {{ i18n.ts.save }}</MkButton>
				</MkSpacer>
			</div>
		</template>
	</MkStickyContainer>
</div>
</template>

<script lang="ts" setup>
import { } from 'vue';
import XHeader from './_header_.vue';
import MkSwitch from '@/components/MkSwitch.vue';
import MkInput from '@/components/MkInput.vue';
import MkTextarea from '@/components/MkTextarea.vue';
import MkRadios from '@/components/MkRadios.vue';
import FormSection from '@/components/form/section.vue';
import FormSplit from '@/components/form/split.vue';
import FormSuspense from '@/components/form/suspense.vue';
import * as os from '@/os.js';
import { fetchInstance } from '@/instance.js';
import { i18n } from '@/i18n.js';
import { definePageMetadata } from '@/scripts/page-metadata.js';
import MkButton from '@/components/MkButton.vue';

let name: string | null = $ref(null);
let shortName: string | null = $ref(null);
let description: string | null = $ref(null);
let maintainerName: string | null = $ref(null);
let maintainerEmail: string | null = $ref(null);
let emailToReceiveAbuseReport: string | null = $ref(null);
let pinnedUsers: string = $ref('');
let cacheRemoteFiles: boolean = $ref(false);
let cacheRemoteSensitiveFiles: boolean = $ref(false);
let enableServiceWorker: boolean = $ref(false);
let swPublicKey: any = $ref(null);
let swPrivateKey: any = $ref(null);
let provider: string | null = $ref(null);
let deeplAuthKey: string = $ref('');
let deeplIsPro: boolean = $ref(false);
let ctav3SaKey: string = $ref('');
let ctav3ProjectId: string = $ref('');
let ctav3Location: string = $ref('');
let ctav3Model: string = $ref('');
let ctav3Glossary: string = $ref('');

async function init(): Promise<void> {
	const meta = await os.api('admin/meta');
	name = meta.name;
	shortName = meta.shortName;
	description = meta.description;
	maintainerName = meta.maintainerName;
	maintainerEmail = meta.maintainerEmail;
	emailToReceiveAbuseReport = meta.emailToReceiveAbuseReport;
	pinnedUsers = meta.pinnedUsers.join('\n');
	cacheRemoteFiles = meta.cacheRemoteFiles;
	cacheRemoteSensitiveFiles = meta.cacheRemoteSensitiveFiles;
	enableServiceWorker = meta.enableServiceWorker;
	swPublicKey = meta.swPublickey;
	swPrivateKey = meta.swPrivateKey;
	provider = meta.translatorType;
	deeplAuthKey = meta.deeplAuthKey;
	deeplIsPro = meta.deeplIsPro;
	ctav3SaKey = meta.ctav3SaKey;
	ctav3ProjectId = meta.ctav3ProjectId;
	ctav3Location = meta.ctav3Location;
	ctav3Model = meta.ctav3Model;
	ctav3Glossary = meta.ctav3Glossary;
}

function save(): void {
	os.apiWithDialog('admin/update-meta', {
		name,
		shortName: shortName === '' ? null : shortName,
		description,
		maintainerName,
		maintainerEmail,
		// eslint-disable-next-line @typescript-eslint/prefer-nullish-coalescing
		emailToReceiveAbuseReport: emailToReceiveAbuseReport || null,
		pinnedUsers: pinnedUsers.split('\n'),
		cacheRemoteFiles,
		cacheRemoteSensitiveFiles,
		enableServiceWorker,
		swPublicKey,
		swPrivateKey,
		translatorType: provider,
		deeplAuthKey,
		deeplIsPro,
		ctav3SaKey,
		ctav3ProjectId,
		ctav3Location,
		ctav3Model,
		ctav3Glossary,
	}).then(() => {
		fetchInstance();
	});
}

const headerTabs = $computed(() => []);

definePageMetadata({
	title: i18n.ts.general,
	icon: 'ti ti-settings',
});
</script>

<style lang="scss" module>
.footer {
	-webkit-backdrop-filter: var(--blur, blur(15px));
	backdrop-filter: var(--blur, blur(15px));
}
</style>
